@import "../../../styles/variables.scss";
@import "../../../styles/global.scss";

@mixin chip-general-styles {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  padding: 5px 10px;
}

@mixin text-general-styles {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.primaryLight {
  @include chip-general-styles;
  background-color: $primary-light-3;
  color: $primary-text;

  .text {
    @include text-general-styles;
    color: $primary-text;
  }
}

.primaryDark {
  @include chip-general-styles;
  background-color: $primary-light-2;
  color: $primary;

  .text {
    @include text-general-styles;
    color: $primary;
  }
}

.greenLight {
  @include chip-general-styles;
  background-color: $green-light-2;
  color: $green-2;

  .text {
    @include text-general-styles;
    color: $green-2;
  }
}

.greenDark {
  @include chip-general-styles;
  background-color: $green-light;
  color: $green;

  .text {
    @include text-general-styles;
    color: $green;
  }
}

.blueLight {
  @include chip-general-styles;
  background-color: $blue-light-2;
  color: $blue-2;

  .text {
    @include text-general-styles;
    color: $blue-2;
  }
}

.blueDark {
  @include chip-general-styles;
  background-color: $blue-light;
  color: $blue;

  .text {
    @include text-general-styles;
    color: $blue;
  }
}

.pinkLight {
  @include chip-general-styles;
  background-color: $pink-light-2;
  color: $pink-2;

  .text {
    @include text-general-styles;
    color: $pink-2;
  }
}

.pinkDark {
  @include chip-general-styles;
  background-color: $pink-light;
  color: $pink;

  .text {
    @include text-general-styles;
    color: $pink;
  }
}

.yellowLight {
  @include chip-general-styles;
  background-color: $yellow-light-2;
  color: $yellow-2;

  .text {
    @include text-general-styles;
    color: $yellow-2;
  }
}

.yellowDark {
  @include chip-general-styles;
  background-color: $yellow-light;
  color: $yellow;

  .text {
    @include text-general-styles;
    color: $yellow;
  }
}

.purpleLight {
  @include chip-general-styles;
  background-color: $purple-light-2;
  color: $purple-2;

  .text {
    @include text-general-styles;
    color: $purple-2;
  }
}

.purpleDark {
  @include chip-general-styles;
  background-color: $purple-light;
  color: $purple;

  .text {
    @include text-general-styles;
    color: $purple;
  }
}

