@import "../../../styles/variables.scss";
@import "../../../styles/global.scss";

@mixin full-width {
  width: 100%;
}

@mixin tab-styles {
  min-width: fit-content;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all ease 0.4s;
  overflow: hidden;
  border-radius: 10px;
  color: $gray;

  &:disabled {
    filter: saturate(0.5);
    opacity: 0.4;
    cursor: not-allowed;
  }
}

@mixin tabs-container-styles {
  max-width: 100%;
  border-radius: 10px;
  padding: 5px;
  overflow-x: auto;
  display: flex;

  &::-webkit-scrollbar {
    background-color: 'transparent';
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }

  .tab {
    @include tab-styles;
    
    .title {
      transition: all ease 0.3s;
    }
  }
}

.tabsMainContainer {
  @include full-width;
  display: flex;
  flex-direction: column;
  
  .tabsContainerLight {
    @include tabs-container-styles;
    background-color: $light-gray;

    &::-webkit-scrollbar-thumb {
      background-color: #b0b0b0;
      border-radius: 8px;
      background-clip: padding-box;
      border: 4px solid #b0b0b0;
    }

    .activeTab {
      @include tab-styles; 
      background-color: #cbcbcb;
      box-shadow: 0px 0px 5px $shadow;
      color: #fff;

      .title {
        transition: all ease 0.3s;
        color: #fff;
      }
    }
  }

  .tabsContainerDark {
    @include tabs-container-styles;
    background-color: #3b3b3b80;

    .activeTab {
      @include tab-styles; 
      background-color: #3b3b3b7e;
      box-shadow: 0px 0px 10px $shadow-2;
      color: #fff;

      .title {
        transition: all ease 0.3s;
        color: #fff;
      }
    }
  }

  .contentContainer {
    @include full-width;
    padding-top: 20px;
  }
}