@import "../../../styles/variables.scss";
@import "../../../styles/global.scss";

@mixin alert-font-family {
  font-family: $roboto;
}

@mixin action-button {
  background-color: transparent;
  border: none;
  transition: all ease 0.2s;
  cursor: pointer;
  font-family: $roboto;
  font-size: 0.8em;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  text-transform: uppercase;

  &:active {
    opacity: 0.5;
    transition: all ease 0.2s;
  }
}

.alertMainContainer {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .subContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    
    .textContainer {
      display: flex;
      flex-direction: column;
      gap: 5px;

      .successLight {
        color: #3c891d;
        @include alert-font-family;
      }

      .successDark {
        color: #c1faaa;
        @include alert-font-family;
      }

      .infoLight {
        color: #495ebc;
        @include alert-font-family;
      }

      .infoDark {
        color: #949fd1;
        @include alert-font-family;
      }

      .warningLight {
        color: #a2891a;
        @include alert-font-family;
      }

      .warningDark {
        color: #e8d478;
        @include alert-font-family;
      }

      .errorLight {
        color: #c73463;
        @include alert-font-family;
      }

      .errorDark {
        color: #ff89ae;
        @include alert-font-family;
      }
    }

    .actionButtonLight {
      @include action-button;
      color: $gray;
    }

    .actionButtonDark {
      @include action-button;
      color: $white-2;
    }
  }
}