// Breakpoints
$phone: 576px;
$tablet: 768px;
$large-tablet: 900px;
$small-desktop: 1150px;
$normal-desktop: 1600px;

//Colors
$white: #fff;
$black: #000000;
$primary: #31dab5;
$primaryLight: #bafaec;
$gray1: #80808044