// Breakpoints
$phone: 576px;
$tablet: 768px;
$large-tablet: 900px;
$small-desktop: 1150px;
$normal-desktop: 1600px;

//Colors
$white: #fafafa;
$white-2: #d9d9d9;
$white-3: #e6e6e6;
$black: #000000;
$primary: #31dab5;
$primary-light: #89ffe5;
$primary-light-2: #31dab522;
$primary-light-3: #31dab588;
$primary-text: #43a18d;
$primary-2: #ff1d4a;
$primary-2-light: #e7738a;
$gray-border: #80808044;
$light-gray: #ebebeb;
$gray: #888888;
$gray-2: #303030;
$gray-3: #202020;
$error: #ff1b63;
$green: #60e02d;
$green-2: #43a01f;
$blue: #4567ff;
$blue-2: #2c4bd6;
$pink: #fe24aa;
$pink-2: #d71c8f;
$yellow: #eeca2a;
$yellow-2: #a88e18;
$purple: #8036ef;
$purple-2: #6b26d3;
$green-light: #60e02d27;
$green-light-2: #60e02d75;
$blue-light: #4567ff36;
$blue-light-2: #4567ff76;
$pink-light: #fe24a32e;
$pink-light-2: #fe24a363;
$yellow-light: #eeca2a24;
$yellow-light-2: #eeca2a6f;
$purple-light: #641ad243;
$purple-light-2: #641ad26e;
$shadow: #11111525;
$shadow-2: #00000071;

//Fonts
$red-hat: 'Red Hat Display', sans-serif;
$roboto: 'Roboto', sans-serif;
$roboto-mono: 'Roboto Mono', monospace;
$josefin: 'Josefin Sans', sans-serif;
$urbanist: 'Urbanist', sans-serif;
