@import "../../../styles/variables.scss";
@import "../../../styles/global.scss";

@mixin full-width {
  width: 100%;
}

.tableContainer {
  @include full-width;
  overflow-x: auto;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    background-color: 'transparent';
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #3c3c3c70;
    border-radius: 8px;
    background-clip: padding-box;
    border: 4px solid #3c3c3c70;
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }

  .tableSubContainer {
    .header {
      @include full-width;
      z-index: 99 !important;
    }

    .body {
      @include full-width;
      z-index: 98;
    }
  }
}
