@import "../../../styles/variables.scss";
@import "../../../styles/global.scss";

.mainContainer {
  width: 100%;

  .button {
    width: 100%;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    padding: 5px 10px;
    transition: all ease 0.2s;
    cursor: pointer;

    &:hover {
      background-color: $gray-3;
      transition: all ease 0.2s;
    }

    &:active {
      opacity: 0.6;
      transition: all ease 0.2s;
    }

    .titleContainer {
      display: flex;
      align-items: center;
      color: $white-2;
      font-size: small;
      gap: 10px;

      .title {
        font-size: small;
        font-family: $roboto;
      }
    }

    .descriptionContainer {
      margin-top: 5px;

      .description {
        font-family: $red-hat;
        font-size: smaller;
        color: gray;
        text-align: left;
      }
    }
  }
}

