@import "../../../styles/variables.scss";
@import "../../../styles/global.scss";

@mixin button-style {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: transparent;
  border: none;
  transition: all ease 0.2s;
  cursor: pointer;
}

.buttonLight {
  @include button-style;
  color: $gray;

  &:hover {
    transition: all ease 0.2s;
    background-color: #fff;
    box-shadow: 0px 0px 1px $shadow;
  }

  &:active {
    opacity: 0.5;
    transition: all ease 0.2s;
  }
}

.buttonDark {
  @include button-style;
  color: $white-2;

  &:hover {
    transition: all ease 0.2s;
    color: #fff;
    background-color: $gray-3;
    box-shadow: 0px 0px 1px $shadow-2;
  }

  &:active {
    opacity: 0.5;
    transition: all ease 0.2s;
  }
}

.buttonActiveLight {
  @include button-style;
  color: $primary-2;
  background-color: #fff;
  box-shadow: 0px 0px 10px $shadow;

  &:active {
    opacity: 0.5;
    transition: all ease 0.2s;
  }
}

.buttonActiveDark {
  @include button-style;
  color: $primary;
  background-color: $gray-2;
  box-shadow: 0px 0px 10px $shadow-2;

  &:active {
    opacity: 0.5;
    transition: all ease 0.2s;
  }
}