@import "../../../styles/variables.scss";
@import "../../../styles/global.scss";

@mixin full-width {
  width: 100%;
}

@mixin collapsible-general-styles {
  @include full-width;
  height: fit-content;
  border-left: solid 4px #87878738;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  transition: all ease 0.3s;

  .headerButton {
    @include full-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 10px;

    .openButton {
      transition: all ease 0.3s;
    }
  }

  .collapsible {
    @include full-width;
    overflow: hidden;
    transition: all ease 0.3s;

    .contentContainer {
      @include full-width;
      padding: 10px 20px 20px 40px;
    }
  }
}

.collapsibleMainContainerLight {
  @include collapsible-general-styles;
  background: -webkit-linear-gradient(-45deg,#c4c4c468,#c4c4c439);

  &:hover {
    background: -webkit-linear-gradient(-45deg,#ababab68,#ababab39);
    transition: all ease 0.3s;
  }
}

.collapsibleMainContainerDark {
  @include collapsible-general-styles;
  background: -webkit-linear-gradient(-45deg,#3b3b3b68,#3b3b3b39);

  &:hover {
    background: -webkit-linear-gradient(-45deg,#3b3b3b7e,#3b3b3b4d);
    transition: all ease 0.3s;
  }
}