@import "../../../styles/variables.scss";
@import "../../../styles/global.scss";

.hollow {
  background-color: transparent;
  border: solid 1px $gray-border;
  border-radius: 10px;
  transition: all ease 0.3s;
  cursor: pointer;
  color: $primary;
  font-family: $red-hat;
  font-size: 1em;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  &:disabled {
    filter: saturate(0.5);
    opacity: 0.6;
    cursor: auto;
  }

  &:not(:disabled):hover {
    box-shadow: 0px 0px 15px $primary;
    border: solid 1px $primary;
    background-color: $primary;
    color: $black;
    transition: all ease 0.3s;
  }

  &:not(:disabled):active {
    opacity: 0.8;
    box-shadow: 0px 0px 5px $primary;
    border: solid 1px $primary;
    transition: all ease 0.2s;
  }
}

.filled {
  background-color: $white-2;
  border: solid 1px $white-2;
  border-radius: 10px;
  transition: all ease 0.3s;
  cursor: pointer;
  color: $black;
  font-family: $red-hat;
  font-size: 1em;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  &:disabled {
    filter: saturate(0.5);
    opacity: 0.6;
    cursor: auto;
  }

  &:not(:disabled):hover {
    box-shadow: 0px 0px 15px $white;
    background-color: $white;
    color: $black;
    transition: all ease 0.3s;
  }

  &:not(:disabled):active {
    opacity: 0.8;
    box-shadow: 0px 0px 5px $white;
    transition: all ease 0.2s;
  }
}

.text {
  background-color: transparent;
  border: none;
  transition: all ease 0.3s;
  cursor: pointer;
  color: $primary;
  font-family: $red-hat;
  font-size: 1em;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  &:disabled {
    filter: saturate(0.5);
    opacity: 0.6;
    cursor: auto;
  }

  &:not(:disabled):hover {
    text-shadow: 0px 0px 15px $primary-light;
    transition: all ease 0.3s;
  }

  &:not(:disabled):active {
    opacity: 0.4;
    transition: all ease 0.2s;
  }
}