@import "../../../styles/variables.scss";
@import "../../../styles/global.scss";

@mixin text-styles-default {
  cursor: pointer;
  text-decoration: none;
}

@mixin text-styles-underline {
  cursor: pointer;
}

@mixin typography-style {
  font-weight: 700;
  transition: all ease 0.2s;

  &:active {
    opacity: 0.6;
    transition: all ease 0.2s;
  }
}

.defaultLight {
  @include text-styles-default;
  color: $primary-2;
}

.defaultDark {
  @include text-styles-default;
  color: $primary;
}

.underlineLight {
  @include text-styles-underline;
  color: $primary-2;
}

.underlineDark {
  @include text-styles-underline;
  color: $primary;
}

.typographyStyleLight {
  @include typography-style;
  color: $primary-2;
}

.typographyStyleDark {
  @include typography-style;
  color: $primary;
}