@import "../../../styles/variables.scss";
@import "../../../styles/global.scss";

@mixin text-styles {
  color: $primary-light;
  cursor: pointer;
}

.default {
  @include text-styles;
  text-decoration: none;
}

.underline {
  @include text-styles;
}

.typographyStyle {
  color: $primary-light;
  font-weight: 700;
  transition: all ease 0.2s;

  &:active {
    opacity: 0.6;
    transition: all ease 0.2s;
  }
}