@import "../../../styles/variables.scss";
@import "../../../styles/global.scss";

@mixin main-container {
  position: relative;
  overflow: visible;
}

@mixin tooltip {
  width: max-content;
  max-width: 250px;
  position: absolute;
  padding: 10px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  transition: all ease 0.2s;
  opacity: 0;
  pointer-events: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 99; 
}

@mixin tooltip-light {
  border: solid 1px #fff;
  background-color: #fff;

  .text {
    color: $gray-3;
  }
}

@mixin tooltip-dark {
  border: solid 1px $gray-2;
  background-color: $gray-3;

  .text {
    color: $white-2;
  }
}

@mixin beak {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
}

.mainContainer {
  @include main-container;

  .topLight {
    @include tooltip;
    @include tooltip-light;
    left: 50%;
    bottom: 80%;
    transform: translateX(-50%);
    box-shadow: 0px 4px 10px $shadow;

    &::after {
      @include beak;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      border: 7px solid transparent;
      border-bottom: none;
      border-top-color: #fff;
    }
  }

  .topDark {
    @include tooltip;
    @include tooltip-dark;
    left: 50%;
    bottom: 80%;
    transform: translateX(-50%);
    box-shadow: 0px 4px 10px $shadow-2;

    &::after {
      @include beak;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      border: 7px solid transparent;
      border-bottom: none;
      border-top-color: $gray-3;
    }
  }

  &:hover .topLight, &:hover .topDark {
    opacity: 1;
    pointer-events: all;
    bottom: calc(100% + 10px);
    transition: all ease 0.2s;
  }
}

.mainContainer {
  @include main-container;

  .bottomLight {
    @include tooltip;
    @include tooltip-light;
    left: 50%;
    top: 80%;
    transform: translateX(-50%);
    box-shadow: 0px -4px 10px $shadow;

    &::after {
      @include beak;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      border: 7px solid transparent;
      border-top: none;
      border-bottom-color: #fff;
    }
  }

  .bottomDark {
    @include tooltip;
    @include tooltip-dark;
    left: 50%;
    top: 80%;
    transform: translateX(-50%);
    box-shadow: 0px -4px 10px $shadow-2;

    &::after {
      @include beak;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      border: 7px solid transparent;
      border-top: none;
      border-bottom-color: $gray-3;
    }
  }

  &:hover .bottomLight, &:hover .bottomDark {
    opacity: 1;
    pointer-events: all;
    top: calc(100% + 10px);
    transition: all ease 0.2s;
  }
}

.mainContainer {
  @include main-container;

  .leftLight {
    @include tooltip;
    @include tooltip-light;
    top: 50%;
    right: 80%;
    transform: translateY(-50%);
    box-shadow: 4px 0px 10px $shadow;

    &::after {
      @include beak;
      left: 100%;
      top: 50%;
      transform: translateY(-50%);
      border: 7px solid transparent;
      border-right: none;
      border-left-color: #fff;
    }
  }

  .leftDark {
    @include tooltip;
    @include tooltip-dark;
    top: 50%;
    right: 80%;
    transform: translateY(-50%);
    box-shadow: 4px 0px 10px $shadow-2;

    &::after {
      @include beak;
      left: 100%;
      top: 50%;
      transform: translateY(-50%);
      border: 7px solid transparent;
      border-right: none;
      border-left-color: $gray-3;
    }
  }

  &:hover .leftLight, &:hover .leftDark {
    opacity: 1;
    pointer-events: all;
    right: calc(100% + 10px);
    transition: all ease 0.2s;
  }
}

.mainContainer {
  @include main-container;

  .rightLight {
    @include tooltip;
    @include tooltip-light;
    top: 50%;
    left: 80%;
    transform: translateY(-50%);
    box-shadow: -4px 0px 10px $shadow;

    &::after {
      @include beak;
      right: 100%;
      top: 50%;
      transform: translateY(-50%);
      border: 7px solid transparent;
      border-left: none;
      border-right-color: #fff;
    }
  }

  .rightDark {
    @include tooltip;
    @include tooltip-dark;
    top: 50%;
    left: 80%;
    transform: translateY(-50%);
    box-shadow: -4px 0px 10px $shadow-2;

    &::after {
      @include beak;
      right: 100%;
      top: 50%;
      transform: translateY(-50%);
      border: 7px solid transparent;
      border-left: none;
      border-right-color: $gray-3;
    }
  }

  &:hover .rightLight, &:hover .rightDark {
    opacity: 1;
    pointer-events: all;
    left: calc(100% + 10px);
    transition: all ease 0.2s;
  }
}