@import "../../../styles/variables.scss";
@import "../../../styles/global.scss";

.mainContainer {
  display: flex;
  align-items: center;
  gap: 10px;

  .checkboxButton {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    color: $black;
    border: solid 2px $white-2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    transition: all ease 0.2s;

    &:disabled {
      filter: saturate(0.5);
      opacity: 0.6;
      cursor: auto;
    }

    &:not(:disabled):hover {
      transform: scale(1.2);
      transition: all ease 0.2s;
    }

    &:not(:disabled):active {
      transform: scale(0.9);
      transition: all ease 0.2s;
    }
  }
}
